/* en css se abre y se cierra con : y ; */  

.titulo{
    background-image: url(https://res.cloudinary.com/dlqstidfv/image/upload/v1712155671/PMIRS/Background_vtvnjf.png);
    border-radius: 20px;
    width: auto;
    height: 200px;
    
}
h1{
    text-align: center;
    position: relative;
    /*width: 1000px;*/
    top: 40%; /*Posición verticalmente en la mitad superior del contenedor */
    /*left: 50%; Posición horizontalmente en la mitad izquierda del contenedor */
    /*transform: translate(-50%, -50%); Centra el h1 */
    color:black;  /*Color del texto */
    background-color:#D0D89E;  /*Fondo semitransparente para mejorar la legibilidad del texto */
    

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#B7C46F;  
}
.menu{
    list-style-type: none; /*esto es para quitar cualquier estilo default que se le haya puesto como un punto*/
    text-align: center; /*para centrar el texto*/

}
.menu li{ /*estilos a los elementos de la lista del menu en html cada li es un elemento de la lista*/
    padding-left:20px; /*para ponerle tamano al icono*/
    background:url(https://res.cloudinary.com/dlqstidfv/image/upload/v1711510329/PMIRS/mundo_mrnyuv.png)no-repeat left center; /*url del icono y se pone no repeat para que no se repita*/
    background-size: contain; /*para que contenga la imagen entera*/
    margin-bottom: 10px;
    display: inline-block; /*para ponerlos horizontalmente*/
    background-color:white;
    border-radius: 10px;
    border-style: double;
    
}
.menu2{
list-style-type: none;
text-align: center;
vertical-align: middle;  
}
.menu2 li{    
background:url(https://res.cloudinary.com/dlqstidfv/image/upload/v1712254388/PMIRS/paloma_rv3uhe.png) no-repeat;

background-size:20px; /* Especifica el tamaño deseado*/
margin-bottom: 10px;
margin-right: -20px;
}

.division1{
    position: relative;  /*border-style: ridge; (bordes de los div es opcional a gusto)*/
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:#4F5B2F; /* Color del texto */
    /*margin-inline-start: auto; para poner el texto a un lado*/
    /*margin-inline-end:auto; para poner el texto a un lado*/
      border-radius: 20px;
  background-color:#D0D89E;
  margin-top: -10px; /* Mueve el texto hacia arriba */
  margin-bottom: 2%;
  padding: 10px;
}
.division2{
    position: relative;  /*border-style: ridge; (bordes de los div es opcional a gusto)*/
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:#4F5B2F; /* Color del texto */
    /*margin-inline-start: auto; para poner el texto a un lado*/
    /*margin-inline-end:auto; para poner el texto a un lado*/
  border-radius: 20px;
  background-color: #F3F4F2;
  margin-top: -10px; /* Mueve el texto hacia arriba */
  margin-bottom: 2%;
  padding: 10px;
 }

table.contacto{
    border-collapse: collapse;
    margin: auto; /* Centra horizontalmente la tabla */
    width: 30%; /* Anchura deseada para la tabla */
    background-color: #DAFDBA;
    border: 2px solid #45C4B0; 
    
   
}
.parrafo{
    color:black; /* Color del texto */  
}



